@charset "UTF-8";
.box2 {
    margin-top: 10px;
    display: flex;
   
}
.content {
    margin-left:8%;
}
img {
    width : 190px;
    height : auto;
    margin-right : 15px;
    margin-top : 4px;
}
.box-content {
    line-height: 28px;
}
a h3  {
    color : black;
    font-size :19px;
    
}
a {
    text-decoration: none;
    list-style: none;
}
.box-box {
    display: flex;

}
.box-box p {
    line-height : 25px;
    margin-top : 4px;
}